<!DOCTYPE html>
<html lang="pt">
<head>
    <title>
        


    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bookwyrm.css?v076">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Bookwyrm Documentation">
    <meta name="og:title" content="Bookwyrm Documentation">
    <meta name="twitter:description" content="Documentation for using and contributing to BookWyrm">
    <meta name="og:description" content="Documentation for using and contributing to BookWyrm">

    <meta name="twitter:image" content="">
    <meta name="og:image" content="">
    <meta name="twitter:image:alt" content="BookWyrm Logo">

    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar container is-max-desktop" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://joinbookwyrm.com/">
            <img class="image logo" src="/static/images/logo-small.png" alt="Go back to the homepage">
        </a>
        <a href="/" class="navbar-item has-text-link has-text-weight-bold">
            Documentação
        </a>
        <a role="button" class="navbar-burger" data-target="main-nav" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="main-nav">
        <div class="navbar-start">
            <a href="https://joinbookwyrm.com/pt-br/instances" class="navbar-item">
                Registrar
            </a>
            <a href="https://joinbookwyrm.com/pt-br/get-involved" class="navbar-item">
                Participe
            </a>
            <a href="https://www.patreon.com/bookwyrm" class="navbar-item">
                Suporte
            </a>
            <a href="https://github.com/bookwyrm-social/bookwyrm" class="navbar-item">
                Código
            </a>
        </div>
    </div>
</nav>

<div class="columns">
    <nav class="menu column is-one-quarter is-hidden-touch pl-6 mt-4" id="menu">
        <h2 class="menu-label">Language & Version</a></h2>
        <div class="select">
            <select aria-label="Select a language" id="language_selection">
                
                <option value="" >English (US)</option>
                
                <option value="de/" >Deutsch</option>
                
                <option value="fr/" >Français</option>
                
                <option value="pl/" >Polski</option>
                
                <option value="pt-br/" selected>Português do Brasil</option>
                
                <option value="ro/" >Română</option>
                
          </select>
        </div>
        <div class="select">
            <select aria-label="Previous versions" id="version_selection">
                
                <option value="latest" >latest</option>
                
                <option value="v0.7.5" >v0.7.5</option>
                
            </select>
        </div>
        
        <h2 class="menu-label">Using BookWyrm</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pt-br/posting-statuses.html" class="has-background-inherit" >Posting Statuses</a>
            </li>
            
            <li>
                <a href="/pt-br/privacy-controls.html" class="has-background-inherit" >Privacy Controls</a>
            </li>
            
            <li>
                <a href="/pt-br/adding-books.html" class="has-background-inherit" >Adicionar livros</a>
            </li>
            
            <li>
                <a href="/pt-br/groups.html" class="has-background-inherit" >Groups</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Running BookWyrm</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pt-br/install-prod.html" class="has-background-inherit" >Installing in Production</a>
            </li>
            
            <li>
                <a href="/pt-br/install-prod-dockerless.html" class="has-background-inherit" >Installing Without Docker</a>
            </li>
            
            <li>
                <a href="/pt-br/updating.html" class="has-background-inherit" >Updating Your Instance</a>
            </li>
            
            <li>
                <a href="/pt-br/reverse-proxy.html" class="has-background-inherit" >Using a Reverse-Proxy</a>
            </li>
            
            <li>
                <a href="/pt-br/moderation.html" class="has-background-inherit" >Moderation</a>
            </li>
            
            <li>
                <a href="/pt-br/monitoring-queue.html" class="has-background-inherit" >Monitoring Queue</a>
            </li>
            
            <li>
                <a href="/pt-br/external-storage.html" class="has-background-inherit" >External Storage</a>
            </li>
            
            <li>
                <a href="/pt-br/optional_features.html" class="has-background-inherit" >Optional features</a>
            </li>
            
            <li>
                <a href="/pt-br/cli.html" class="has-background-inherit" >Command Line Tool</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Contributing</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pt-br/style_guide.html" class="has-background-inherit" ></a>
            </li>
            
            <li>
                <a href="/pt-br/contributing.html" class="has-background-inherit" ></a>
            </li>
            
            <li>
                <a href="/pt-br/translation.html" class="has-background-inherit" class="is-active"></a>
            </li>
            
            <li>
                <a href="/pt-br/install-dev.html" class="has-background-inherit" >Developer Environment</a>
            </li>
            
            <li>
                <a href="/pt-br/debug_toolbar.html" class="has-background-inherit" >Django Debug Toolbar</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Codebase</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pt-br/activitypub.html" class="has-background-inherit" ></a>
            </li>
            
            <li>
                <a href="/pt-br/permissions.html" class="has-background-inherit" >Permissões</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Reference Guides</h2>
        <ul class="menu-list has-background-inherit">
            
        </ul>
        
    </nav>

    <div class="column">
        <div class="container is-max-desktop">
            <section class="section">
                <header class="content block column is-offset-one-quarter pl-2">
                    
<h1 class="title is-1"></h1>

                </header>
                
<section class="block content">
    <h2 id="colaborar-com-traducoes"><a class="headerlink" href="#colaborar-com-traducoes">Colaborar com traduções</a></h2>
<p>Você pode participar do projeto de tradução da BookWorm no <a href="https://translate.joinbookwyrm.com/">translate.joinbookwyrm.com</a>.</p>
<h2 id="linguagem-neutra"><a class="headerlink" href="#linguagem-neutra">Linguagem neutra</a></h2>
<p>As traduções da BookWyrm devem usar marcação de gênero neutra o máximo possível. Isso se aplica mesmo se a língua utiliza o masculino como gênero neutro padrão, ou se possui algo similiar a "ele/ela". Também é importante que as traduções sejam claras, concisas e legíveis em leitores de tela, e às vezes esses objetivos entram em conflito; não há uma solução perfeita para todos os problemas, e a solução depende do idioma.</p>
<p>Como elemento norteador, tente dar mais ênfase ao aspecto inclusivo e ao uso de palavras de gênero neutro do que se fiar à correção formal ou a guias de estilo oficiais. No Inglês, por exemplo, muitos guias de estilo formais exigem que se use um pronome singular "she" ou "he" para se referir a um indivíduo, mas na BookWyrm seria melhor utilizar o pronome singular neutro "they".</p>
<p>Se você não sabe como resolver algum problema de tradução, abra um <a href="https://translate.joinbookwyrm.com/project/bookwyrm/discussions">tópico de discussão</a> para tratar de problemas mais amplos.</p>
<h2 id="fazendo-templates-traduziveis"><a class="headerlink" href="#fazendo-templates-traduziveis">Fazendo templates traduzíveis</a></h2>
<p>A BookWyrm se utiliza da função de tradução do Django para fazer com que o conteúdo das páginas mude dependendo da língua da interface selecionada pelo usuário. A documentação do Django traz <a href="https://docs.djangoproject.com/en/3.2/topics/i18n/translation/#internationalization-in-template-code">uma ótima explicação</a> de como ela funciona, mas aqui temos uma versão mais curta:</p>
<ul>
<li>todo texto no template deve incluir as tags de tradução de template</li>
<li>adicione <code>{% load i18n %}</code> no início do arquivo de template pra ativar as traduções</li>
<li>Se o bloco de texto for literal, você pode usar a tag <code>{% trans %}</code></li>
<li>Se o bloco de texto tiver variáveis, você deve usar o par de tags <code>{% blocktrans %}</code> e <code>{% endblocktrans %}</code>. Se você estiver usando espaços em brancos ou quebras de linha, use <code>trimmed</code> para removê-los automaticamente quando o arquivo de localização for gerado: <code>{% blocktrans trimmed %}</code></li>
</ul>
<h3 id="exemplos"><a class="headerlink" href="#exemplos">Exemplos</a></h3>
<div class="highlight"><pre><span></span><code><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{% trans &quot;Esta lista está vazia&quot; %}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
    {% blocktrans trimmed with username=item.user.display_name user_path=item.user.local_path %}
    Adicionado por <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ user_path }}&quot;</span><span class="p">&gt;</span>{{ username }}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    {% endblocktrans %}
<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</code></pre></div>
</section>

            </section>
        </div>
    </div>
</div>

<footer id="contentinfo" class="footer">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column content">
                <p>
                    <strong>BookWyrm</strong> é um software colaborativo e anti-corporativo mantido por <a href='https://www.mousereeve.com/'>Mouse Reeve</a>.
                </p>
                <p>
                    Apoie a BookWyrm no <a href='https://www.patreon.com/bookwyrm' target='_blank'>Patreon</a>.
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">Participe</h3>
                <p>
                    <a href="https://github.com/bookwyrm-social">BookWyrm no GitHub</a>
                </p>
                <p>
                    <a href="https://github.com/bookwyrm-social/documentation/blob/main/content/contributing/translation.md">Contribua para esta página</a>
                </p>
                <p>
                    <a href="https://twitter.com/BookWyrmSocial" target="_blank">
                        <span class="icon icon-twitter"><span class="is-sr-only">Twitter</span></span>
                    </a>
                    <a href="https://tech.lgbt/@bookwyrm" target="_blank" rel="me">
                        <span class="icon icon-mastodon"><span class="is-sr-only">Mastodon</span></span>
                    </a>
                    <a href="https://www.patreon.com/bookwyrm" target="_blank">
                        <span class="icon icon-patreon"><span class="is-sr-only">Patreon</span></span>
                    </a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">Saiba mais</h3>
                <p>
                    <a href="https://docs.joinbookwyrm.com">Documentação</a>
                </p>
                <p>
                    <a href="mailto:mousereeve@riseup.net">Falar com a administração</a>
                </p>
                <p>
                    <a href="https://raw.githubusercontent.com/bookwyrm-social/join-bookwyrm/main/LICENSE.md">Licença</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script>
    var current_locale = "pt-br/";
</script>
<script src="/static/js/bookwyrm.js"></script>
</body>
</html>