<!DOCTYPE html>
<html lang="pl">
<head>
    <title>
        
Tłumaczenia

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bookwyrm.css?v076">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Bookwyrm Documentation">
    <meta name="og:title" content="Bookwyrm Documentation">
    <meta name="twitter:description" content="Documentation for using and contributing to BookWyrm">
    <meta name="og:description" content="Documentation for using and contributing to BookWyrm">

    <meta name="twitter:image" content="">
    <meta name="og:image" content="">
    <meta name="twitter:image:alt" content="BookWyrm Logo">

    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar container is-max-desktop" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://joinbookwyrm.com/">
            <img class="image logo" src="/static/images/logo-small.png" alt="Go back to the homepage">
        </a>
        <a href="/" class="navbar-item has-text-link has-text-weight-bold">
            Dokumentacja
        </a>
        <a role="button" class="navbar-burger" data-target="main-nav" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="main-nav">
        <div class="navbar-start">
            <a href="https://joinbookwyrm.com/pl/instances" class="navbar-item">
                Dołącz
            </a>
            <a href="https://joinbookwyrm.com/pl/get-involved" class="navbar-item">
                Udziel się
            </a>
            <a href="https://www.patreon.com/bookwyrm" class="navbar-item">
                Wsparcie
            </a>
            <a href="https://github.com/bookwyrm-social/bookwyrm" class="navbar-item">
                Kod źródłowy
            </a>
        </div>
    </div>
</nav>

<div class="columns">
    <nav class="menu column is-one-quarter is-hidden-touch pl-6 mt-4" id="menu">
        <h2 class="menu-label">Language & Version</a></h2>
        <div class="select">
            <select aria-label="Select a language" id="language_selection">
                
                <option value="" >English (US)</option>
                
                <option value="de/" >Deutsch</option>
                
                <option value="fr/" >Français</option>
                
                <option value="pl/" selected>Polski</option>
                
                <option value="pt-br/" >Português do Brasil</option>
                
                <option value="ro/" >Română</option>
                
          </select>
        </div>
        <div class="select">
            <select aria-label="Previous versions" id="version_selection">
                
                <option value="latest" >latest</option>
                
                <option value="v0.7.5" >v0.7.5</option>
                
            </select>
        </div>
        
        <h2 class="menu-label">Using BookWyrm</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pl/shelves.html" class="has-background-inherit" >Shelves & Reading Status</a>
            </li>
            
            <li>
                <a href="/pl/adding-books.html" class="has-background-inherit" >Dodawanie książek</a>
            </li>
            
            <li>
                <a href="/pl/posting-statuses.html" class="has-background-inherit" >Posting Statuses</a>
            </li>
            
            <li>
                <a href="/pl/lists.html" class="has-background-inherit" >Lists</a>
            </li>
            
            <li>
                <a href="/pl/privacy-controls.html" class="has-background-inherit" >Privacy Controls</a>
            </li>
            
            <li>
                <a href="/pl/groups.html" class="has-background-inherit" >Groups</a>
            </li>
            
            <li>
                <a href="/pl/rss-feeds.html" class="has-background-inherit" >RSS Feeds</a>
            </li>
            
            <li>
                <a href="/pl/user-migration.html" class="has-background-inherit" >User Migration and Aliases</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Running BookWyrm</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pl/install-prod.html" class="has-background-inherit" >Installing in Production</a>
            </li>
            
            <li>
                <a href="/pl/install-prod-dockerless.html" class="has-background-inherit" >Installing Without Docker</a>
            </li>
            
            <li>
                <a href="/pl/updating.html" class="has-background-inherit" >Aktualizowanie instancji</a>
            </li>
            
            <li>
                <a href="/pl/reverse-proxy.html" class="has-background-inherit" >Using a Reverse-Proxy</a>
            </li>
            
            <li>
                <a href="/pl/moderation.html" class="has-background-inherit" >Moderacja</a>
            </li>
            
            <li>
                <a href="/pl/monitoring-queue.html" class="has-background-inherit" >Monitoring Queue</a>
            </li>
            
            <li>
                <a href="/pl/external-storage.html" class="has-background-inherit" >External Storage</a>
            </li>
            
            <li>
                <a href="/pl/optional_features.html" class="has-background-inherit" >Optional features</a>
            </li>
            
            <li>
                <a href="/pl/cli.html" class="has-background-inherit" >Command Line Tool</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Contributing</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pl/contributing.html" class="has-background-inherit" >Udzielanie się</a>
            </li>
            
            <li>
                <a href="/pl/translation.html" class="has-background-inherit" class="is-active">Tłumaczenia</a>
            </li>
            
            <li>
                <a href="/pl/documentation.html" class="has-background-inherit" >Documentation</a>
            </li>
            
            <li>
                <a href="/pl/style_guide.html" class="has-background-inherit" >Style Guide</a>
            </li>
            
            <li>
                <a href="/pl/debug_toolbar.html" class="has-background-inherit" >Django Debug Toolbar</a>
            </li>
            
            <li>
                <a href="/pl/install-dev.html" class="has-background-inherit" >Developer Environment</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Codebase</h2>
        <ul class="menu-list has-background-inherit">
            
            <li>
                <a href="/pl/activitypub.html" class="has-background-inherit" >ActivityPub</a>
            </li>
            
            <li>
                <a href="/pl/permissions.html" class="has-background-inherit" >Uprawnienia</a>
            </li>
            
        </ul>
        
        <h2 class="menu-label">Reference Guides</h2>
        <ul class="menu-list has-background-inherit">
            
        </ul>
        
    </nav>

    <div class="column">
        <div class="container is-max-desktop">
            <section class="section">
                <header class="content block column is-offset-one-quarter pl-2">
                    
<h1 class="title is-1">Tłumaczenia</h1>

                </header>
                
<section class="block content">
    <h2 id="udzielanie-sie-w-tumaczeniach"><a class="headerlink" href="#udzielanie-sie-w-tumaczeniach">Udzielanie się w tłumaczeniach</a></h2>
<p>Możesz dołączyć do projektu tłumaczenia BookWyrm na <a href="https://translate.joinbookwyrm.com/">translate.joinbookwyrm.com</a>.</p>
<h2 id="jezyk-neutralny-pciowo"><a class="headerlink" href="#jezyk-neutralny-pciowo">Język neutralny płciowo</a></h2>
<p>Tam, gdzie to możliwe, tłumaczenia BookWyrm powinny zawierać neutralne płciowo wyrazy. Ma to zastosowanie również, gdy rodzaj męski jest traktowany jako neutralny lub istnieje coś podobnego do "on/ona". Równie ważne jest, aby przetłumaczone treści były jasne, zwięzłe i czytelne dla użytkownika, a czasami te wartości nie idą w parze; nie ma jednej odpowiedzi na wszystkie aspekty, więc należy wykorzystać wszelkie zasoby języka.</p>
<p>Poświęć więcej uwagi na integrację oraz neutralny płciowo język niż na poprawność lub oficjalne formy stylizacji. Na przykład w języku angielskim wiele formalnych zwrotów wymaga użycia zaimka "ona" lub "on", gdy odnosimy się do osoby, ale lepiej będzie, jeśli na BookWyrm zastosujemy neutralne płciowo "ono/oni".</p>
<p>Jeśli nie masz pewności, jak najlepiej podejść do problemu z tłumaczeniem, dodaj komentarz do tłumaczenia lub utwórz <a href="https://translate.joinbookwyrm.com/project/bookwyrm/discussions">dyskusję</a>, aby uzyskać odpowiedź na bardziej zawiłe pytania.</p>
<h2 id="umozliwianie-tumaczenia-szablonow"><a class="headerlink" href="#umozliwianie-tumaczenia-szablonow">Umożliwianie tłumaczenia szablonów</a></h2>
<p>BookWyrm korzysta z funkcji tłumaczenia Django, aby umożliwić zmienianie treści strony w zależności od języka wybranego przez użytkownika. Dokumentacja Django <a href="https://docs.djangoproject.com/en/3.2/topics/i18n/translation/#internationalization-in-template-code">zawiera pomocne objaśnienia</a>, jak to działa, a tutaj krótkie jej podsumowanie:</p>
<ul>
<li>cały tekst szablonu powinien zawierać znaczniki tłumaczenia szablonu</li>
<li>dodaj <code>{% load i18n %}</code> na górze szablonu, aby umożliwić tłumaczenia</li>
<li>Jeśli blok tekstu jest tekstem dosłownym, możesz skorzystać z znacznika szablonu <code>{% trans %}</code></li>
<li>Jeśli blok tekstu zawiera zmienne, należy użyć pary znaczników <code>{% blocktrans %}</code> oraz <code>{% endblocktrans %}</code>. If you are including padding whitespace or line breaks, use <code>trimmed</code> to automatically remove it when the locale file is generated: <code>{% blocktrans trimmed %}</code></li>
</ul>
<h3 id="przykady"><a class="headerlink" href="#przykady">Przykłady</a></h3>
<div class="highlight"><pre><span></span><code><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{% trans &quot;This list is currently empty&quot; %}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
    {% blocktrans trimmed with username=item.user.display_name user_path=item.user.local_path %}
    Dodane przez <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ user_path }}&quot;</span><span class="p">&gt;</span>{{ username }}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    {% endblocktrans %}
<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</code></pre></div>
</section>

            </section>
        </div>
    </div>
</div>

<footer id="contentinfo" class="footer">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column content">
                <p>
                    <strong>BookWyrm</strong> to współtworzone, antykorporacyjne oprogramowanie zarządzane przez <a href='https://www.mousereeve.com/'>Mouse Reeve</a>.
                </p>
                <p>
                    Wspieraj BookWyrm poprzez <a href='https://www.patreon.com/bookwyrm' target='_blank'>Patreon</a>.
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">Udziel się</h3>
                <p>
                    <a href="https://github.com/bookwyrm-social">BookWyrm na GitHub</a>
                </p>
                <p>
                    <a href="https://github.com/bookwyrm-social/documentation/blob/main/content/contributing/translation.md">Udziel się na tej stronie</a>
                </p>
                <p>
                    <a href="https://twitter.com/BookWyrmSocial" target="_blank">
                        <span class="icon icon-twitter"><span class="is-sr-only">Twitter</span></span>
                    </a>
                    <a href="https://tech.lgbt/@bookwyrm" target="_blank" rel="me">
                        <span class="icon icon-mastodon"><span class="is-sr-only">Mastodon</span></span>
                    </a>
                    <a href="https://www.patreon.com/bookwyrm" target="_blank">
                        <span class="icon icon-patreon"><span class="is-sr-only">Patreon</span></span>
                    </a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">Dowiedz się więcej</h3>
                <p>
                    <a href="https://docs.joinbookwyrm.com">Dokumentacja</a>
                </p>
                <p>
                    <a href="mailto:mousereeve@riseup.net">Skontaktuj się z opiekunem</a>
                </p>
                <p>
                    <a href="https://raw.githubusercontent.com/bookwyrm-social/join-bookwyrm/main/LICENSE.md">Licencja</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script>
    var current_locale = "pl/";
</script>
<script src="/static/js/bookwyrm.js"></script>
</body>
</html>