<!DOCTYPE html>
<html lang="de">
<head>
    <title>
        
Übersetzungen

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bookwyrm.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Bookwyrm Documentation">
    <meta name="og:title" content="Bookwyrm Documentation">
    <meta name="twitter:description" content="Documentation for using and contributing to BookWyrm">
    <meta name="og:description" content="Documentation for using and contributing to BookWyrm">

    <meta name="twitter:image" content="">
    <meta name="og:image" content="">
    <meta name="twitter:image:alt" content="BookWyrm Logo">

    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar container is-max-desktop" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://joinbookwyrm.com/">
            <img class="image logo" src="/static/images/logo-small.png" alt="Go back to the homepage">
        </a>
    </div>

    <div class="navbar-menu" id="main-nav">
        <div class="navbar-start">
            <a href="https://joinbookwyrm.com/de/instances" class="navbar-item">
                <span class="button is-success has-text-weight-normal has-text-white">Beitreten</span>
            </a>
            <a href="https://joinbookwyrm.com/de/get-involved" class="navbar-item">
                Mitmachen
            </a>
            <a href="https://www.patreon.com/bookwyrm" class="navbar-item">
                Unterstützung
            </a>
            <a href="https://github.com/bookwyrm-social/bookwyrm" class="navbar-item">
                Code
            </a>
            <a href="#" class="navbar-item is-active">
                Dokumentation
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="select">
                <select aria-label="Select a language" id="language_selection">
                    
                    <option value="" >English (US)</option>
                    
                    <option value="de/" selected>Deutsch</option>
                    
                    <option value="fr/" >Français</option>
                    
                    <option value="pl/" >Polski</option>
                    
                    <option value="pt-br/" >Português do Brasil</option>
                    
                    <option value="ro/" >Română</option>
                    
              </select>
            </div>
        </div>
    </div>
</nav>

<div class="container is-max-desktop">
<section class="section">

    <header class="content block column is-offset-one-quarter pl-2">
        
<h1 class="title is-1">Übersetzungen</h1>

    </header>
    <div class="columns">
	<nav class="menu column is-one-quarter mt-2">
        <div class="select">
            <select aria-label="Previous versions" id="version_selection">
                
                <option value="latest" >latest</option>
                
                <option value="v0.7.5" selected>v0.7.5</option>
                
            </select>
        </div>
            <h2 class="menu-label"><a href="/de/">Welcome</a></h2>
            
            <h2 class="menu-label">Using BookWyrm</h2>
            <ul class="menu-list">
                
                <li>
                    <a href="/v0.7.5/de/posting-statuses.html" >Posting Statuses</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/privacy-controls.html" >Privacy Controls</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/adding-books.html" >Bücher hinzufügen</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/groups.html" >Groups</a>
                </li>
                
            </ul>
            
            <h2 class="menu-label">Running BookWyrm</h2>
            <ul class="menu-list">
                
                <li>
                    <a href="/v0.7.5/de/install-prod.html" >Installation in Produktion</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/install-prod-dockerless.html" >Installation ohne Docker</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/updating.html" >Deine Instanz updaten</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/reverse-proxy.html" >Verwenden eines Reverse-Proxy</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/moderation.html" >Moderation</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/monitoring-queue.html" >Überwachungswarteschlange</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/external-storage.html" >Externer Speicher</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/optional_features.html" >Optionale Funktionen</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/cli.html" >Befehlszeilenwerkzeug</a>
                </li>
                
            </ul>
            
            <h2 class="menu-label">Contributing</h2>
            <ul class="menu-list">
                
                <li>
                    <a href="/v0.7.5/de/contributing.html" >Wie mitmachen</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/translation.html" class="is-active">Übersetzungen</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/style_guide.html" >Stilleitfaden</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/install-dev.html" >Developer Environment</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/debug_toolbar.html" >Django Debug-Symbolleiste</a>
                </li>
                
            </ul>
            
            <h2 class="menu-label">Codebase</h2>
            <ul class="menu-list">
                
                <li>
                    <a href="/v0.7.5/de/activitypub.html" >ActivityPub</a>
                </li>
                
                <li>
                    <a href="/v0.7.5/de/permissions.html" >Berechtigungen</a>
                </li>
                
            </ul>
            
        </nav>

        <div class="column">
            
<section class="block content">
    <h2 id="zu-ubersetzungen-beitragen"><a class="headerlink" href="#zu-ubersetzungen-beitragen">Zu Übersetzungen beitragen</a></h2>
<p>Du kannst dem BookWyrm Übersetzungsprojekt unter <a href="https://translate.joinbookwyrm.com/">translate.joinbookwyrm.com</a> beitreten.</p>
<h2 id="geschlechtsneutrale-sprache"><a class="headerlink" href="#geschlechtsneutrale-sprache">Geschlechtsneutrale Sprache</a></h2>
<p>Wo immer möglich, sollten BookWyrm Übersetzungen geschlechtsneutrale Sprache verwenden. Dies gilt auch dann, wenn eine Sprache als neutrales Geschlecht voreingestellt ist oder wenn sie etwas Ähnliches wie "he/she" verwendet. Es ist auch wichtig, dass Übersetzungen klar, präzise und lesbar für einen Screenreader sind und manchmal stehen diese Ziele im Widerspruch zueinander; es gibt nicht die eine perfekte Lösung und diese hängt von der Sprache ab.</p>
<p>Als Leitfaden versuche, einen höheren Wert auf inklusive und geschlechtsneutrale Sprache zu legen als auf formale Korrektheit oder offiziell anerkannte Stilführer. Im Englischen zum Beispiel benötigen viele formale Leitfäden ein einzelnes "she"- oder "he"-Pronomen, um für eine Person verwendet zu werden, aber es wäre besser, in BookWyrm das geschlechtsneutrale singuläre "they" zu verwenden.</p>
<p>Wenn du nicht sicher bist, wie du am besten an ein Übersetzungsproblem herangehen kannst, kommentiere die Übersetzung oder öffne ein <a href="https://translate.joinbookwyrm.com/project/bookwyrm/discussions">-Diskussionsthema</a>, um weitergehende Fragen zu stellen.</p>
<h2 id="vorlagen-ubersetzbar-machen"><a class="headerlink" href="#vorlagen-ubersetzbar-machen">Vorlagen übersetzbar machen</a></h2>
<p>Bookwyrm nutzt die Django-Übersetzungsfunktionalität, um den Seiteninhalt je nach der von den Benutzer*innen gewählten Anzeigesprache ändern zu können. Die Django-Dokumentation <a href="https://docs.djangoproject.com/en/3.2/topics/i18n/translation/#internationalization-in-template-code">bietet hilfreiche Erklärungen</a> wie das funktioniert, aber hier ist eine Kurzversion:</p>
<ul>
<li>alle Template-Texte sollten Übersetzungstexte enthalten</li>
<li>füge <code>{% load i18n %}</code> oben an deiner Vorlage hinzu, um Übersetzungen zu aktivieren</li>
<li>Wenn der Textblock wörtlicher Text ist, kannst du das Template-Tag <code>{% trans %}</code> verwenden</li>
<li>Wenn der Textblock Variablen enthält, solltest du das Template-Tag-Paar <code>{% blocktrans %}</code> und <code>{% endblocktrans %}</code> verwenden. Wenn du Leerzeichen oder Zeilenumbrüche einbaust, nutze <code>gekürzt</code>, um es automatisch zu entfernen, wenn die Sprachdatei generiert wird: <code>{% blocktrans trimmed %}</code></li>
</ul>
<h3 id="beispiele"><a class="headerlink" href="#beispiele">Beispiele</a></h3>
<div class="highlight"><pre><span></span><code><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{% trans &quot;This list is currently empty&quot; %}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
    {% blocktrans trimmed with username=item.user.display_name user_path=item.user.local_path %}
    hinzugefügt von <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ user_path }}&quot;</span><span class="p">&gt;</span>{{ username }}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    {% endblocktrans %}
<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</code></pre></div>
</section>

        </div>
    </div>
</section>
</div>

<footer id="contentinfo" class="footer">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column content">
                <p>
                    <strong>BookWyrm</strong> ist eine kollaborative, nicht-kommerzielle Software, die von <a href='https://www.mousereeve.com/'>Mouse Reeve</a> betrieben wird.
                </p>
                <p>
                    Unterstütze BookWyrm auf <a href='https://www.patreon.com/bookwyrm' target='_blank'>Patreon</a>.
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">Machen Sie mit</h3>
                <p>
                    <a href="https://github.com/bookwyrm-social">BookWyrm auf GitHub</a>
                </p>
                <p>
                    <a href="https://github.com/bookwyrm-social/documentation/blob/main/content/contributing/translation.md">Zu dieser Seite beitragen</a>
                </p>
                <p>
                    <a href="https://twitter.com/BookWyrmSocial" target="_blank">
                        <span class="icon icon-twitter"><span class="is-sr-only">Twitter</span></span>
                    </a>
                    <a href="https://tech.lgbt/@bookwyrm" target="_blank" rel="me">
                        <span class="icon icon-mastodon"><span class="is-sr-only">Mastodon</span></span>
                    </a>
                    <a href="https://www.patreon.com/bookwyrm" target="_blank">
                        <span class="icon icon-patreon"><span class="is-sr-only">Patreon</span></span>
                    </a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">Mehr erfahren</h3>
                <p>
                    <a href="https://docs.joinbookwyrm.com">Dokumentation</a>
                </p>
                <p>
                    <a href="mailto:mousereeve@riseup.net">Betreiber*in kontaktieren</a>
                </p>
                <p>
                    <a href="https://raw.githubusercontent.com/bookwyrm-social/join-bookwyrm/main/LICENSE.md">Lizenz</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    (function() {
        var languageSelector = document.getElementById("language_selection");
        languageSelector.onchange = function(event) {
            var current_locale = "de/";
            var current_location = window.location.pathname;

            var locale_index = current_location.indexOf(current_locale);
            var new_location = "/" + event.target.value;

            if (locale_index) {
                // we're in a locale - swap it out
                new_location = current_location.replace(current_locale, event.target.value)
            } else {
                // are we in a version?
                var regx = /\/v[0-9\.]+/
                if (regx.test(current_location)) {
                    // split current location
                    arr = current_location.split("/")
                    // insert new locale
                    arr.splice(2, 0, event.target.value.replace("/", ""))
                    // gather it all together again
                    new_location = arr.join("/")
                } else {
                    new_location += current_location.slice(1);
                }
            }
            window.location = new_location;
        }
    })()
</script>
<script type="text/javascript">
    (function() {
        var versionSelector = document.getElementById("version_selection");
        versionSelector.onchange = function(event) {
            current_version = "v0.7.5"
            var current_location = window.location.pathname;
            var target_version = event.target.value == "latest" ? "" : event.target.value;
            var arr = current_location.split("/")
            var regx = /\/v[0-9\.]+/
            if (regx.test(current_location)) {
                window.location = window.location.href.replace(regx,`${target_version}`)
            } else {
                window.location = `/${target_version}${current_location}`
            }
        }
    })()
</script>


</body>
</html>