<!DOCTYPE html>
<html lang="{{ locale['code'][:2]|default('en') }}">
<head>
    <title>
        {% block title %}
        {{ _("BookWyrm Documentation") }}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bookwyrm.css?v076">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ _("Bookwyrm Documentation") }}">
    <meta name="og:title" content="{{ _("Bookwyrm Documentation") }}">
    <meta name="twitter:description" content="{{ _("Documentation for using and contributing to BookWyrm") }}">
    <meta name="og:description" content="{{ _("Documentation for using and contributing to BookWyrm") }}">

    <meta name="twitter:image" content="">
    <meta name="og:image" content="">
    <meta name="twitter:image:alt" content="BookWyrm Logo">

    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar container is-max-desktop" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://joinbookwyrm.com/">
            <img class="image logo" src="/static/images/logo-small.png" alt="{{ _('Go back to the homepage') }}">
        </a>
        <a href="/" class="navbar-item has-text-link has-text-weight-bold">
            {{ _("Documentation") }}
        </a>
        <a role="button" class="navbar-burger" data-target="main-nav" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="main-nav">
        <div class="navbar-start">
            <a href="https://joinbookwyrm.com/{{ locale["slug"] }}instances" class="navbar-item">
                {{ _("Join") }}
            </a>
            <a href="https://joinbookwyrm.com/{{ locale["slug"] }}get-involved" class="navbar-item">
                {{ _("Get involved") }}
            </a>
            <a href="https://www.patreon.com/bookwyrm" class="navbar-item">
                {{ _("Support") }}
            </a>
            <a href="https://github.com/bookwyrm-social/bookwyrm" class="navbar-item">
                {{ _("Code") }}
            </a>
        </div>
    </div>
</nav>
{% if not current_version %}
<div class="message is-danger">
    <div class="message-body has-text-centered">
        {{ _("This is the documentation for the current development code. Choose a version from the menu to see documentation for released versions since") }} <strong>v0.7.5</strong>.
    </div>
</div>
{% endif %}

<div class="columns">
    <nav class="menu column is-one-quarter is-hidden-touch pl-6" id="menu">
        <h2 class="menu-label">Language & Version</a></h2>
        <div class="select">
            <select aria-label="{{ _("Select a language") }}" id="language_selection">
                {% for option in locales_metadata %}
                <option value="{{ option['slug'] }}" {% if option['slug'] == locale['slug'] %}selected{% endif %}>{{ option['name'] }}</option>
                {% endfor %}
          </select>
        </div>
        <div class="select">
            <select aria-label="{{ _("Previous versions") }}" id="version_selection">
                {% for option in versions %}
                <option value="{{ option }}" {% if option == current_version %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        {% for category in categories %}
        <h2 class="menu-label">{{ category.title }}</h2>
        <ul class="menu-list has-background-inherit">
            {% for subcat in category.subcategories %}
            <li>
                <a href="{{ subcat.path }}" class="has-background-inherit" {% if path == subcat.path %}class="is-active"{% endif %}>{{ subcat.Title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </nav>

    <div class="column pt-0">
        {% block toc %}{% endblock %}
        <div class="container is-max-desktop">
            <section class="section">
                <header class="content block column is-offset-one-quarter pl-2">
                    {% block header %}{% endblock %}
                </header>
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
</div>

<footer id="contentinfo" class="footer">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column content">
                <p>
                    {{ _("<strong>BookWyrm</strong> is collaborative, anti-corporate software maintained by <a href='https://www.mousereeve.com/'>Mouse Reeve</a>.") }}
                </p>
                <p>
                    {{ _("Support BookWyrm on <a href='https://www.patreon.com/bookwyrm' target='_blank'>Patreon</a>.") }}
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">{{ _("Get Involved") }}</h3>
                <p>
                    <a href="https://github.com/bookwyrm-social">{{ _("BookWyrm on GitHub") }}</a>
                </p>
                <p>
                    <a href="https://github.com/bookwyrm-social/documentation/blob/main/content/{{ headers.file_path }}">{{ _("Contribute to this page") }}</a>
                </p>
                <p>
                    <a href="https://twitter.com/BookWyrmSocial" target="_blank">
                        <span class="icon icon-twitter"><span class="is-sr-only">Twitter</span></span>
                    </a>
                    <a href="https://tech.lgbt/@bookwyrm" target="_blank" rel="me">
                        <span class="icon icon-mastodon"><span class="is-sr-only">Mastodon</span></span>
                    </a>
                    <a href="https://www.patreon.com/bookwyrm" target="_blank">
                        <span class="icon icon-patreon"><span class="is-sr-only">Patreon</span></span>
                    </a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-6">{{ _("Learn more") }}</h3>
                <p>
                    <a href="https://docs.joinbookwyrm.com">{{ _("Documentation") }}</a>
                </p>
                <p>
                    <a href="mailto:mousereeve@riseup.net">{{ _("Contact maintainer") }}</a>
                </p>
                <p>
                    <a href="https://raw.githubusercontent.com/bookwyrm-social/join-bookwyrm/main/LICENSE.md">{{ _("License") }}</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script>
    var current_locale = "{{ locale['slug']|safe }}";
    var current_version = "{{ current_version }}";
</script>
<script src="/static/js/bookwyrm.js"></script>
</body>
</html>
